Q.1

In [1]:
a,b=float(input('Enter a number: ')),float(input('Enter another number: '))
print(f'sum is {a+b}')

Enter a number: 2
Enter another number: 5
sum is 7.0

Q.2

In [2]:
marks=[0,40,60,70,80,90,101]
grades=['F','D','C','B','A','A+']
your_marks=list(map(int,input('Enter your marks as space separated integer: ').split()))
percentage=(sum(your_marks)/len(your_marks))
for i in range(len(grades)):
    if min(your_marks)<40:
        print('you are fail and grade is F')
        break
    elif marks[i]<=percentage<marks[i+1]:
        print(f'your mark is {percentage}% and grade is {grades[i]}')

Enter your marks as space separated integer: 25 46 56 45 40
you are fail and grade is F

Q.3

In [3]:
a,b,c=float(input('Enter 1st number: ')),float(input('Enter 2nd number: ')),float(input('Enter 3rd number: '))
print('maximum among these three numbers is',max(max(a,b),c))

Enter 1st number: 5
Enter 2nd number: 6
Enter 3rd number: 2
maximum among these three numbers is 6.0

Q.4

In [4]:
a=int(input())
print('Required output is:')
for i in range(1,a+1):
    print('*'*i)

5
Required output is:
*
**
***
****
*****

Q.5

In [5]:
print('    *    ')
print('  *   *  ')
print('*   *   *')
print('  *   *  ')
print('    *    ')

    *
  *   *
*   *   *
  *   *
    *

Q.6

In [6]:
a=int(input())
for i in range(a):
    print('*'*i)
for i in range(a,0,-1):
    print('*'*i)

5

*
**
***
****
*****
****
***
**
*

Q.7

In [7]:
my_list=[x for x in range(10,0,-2)]
print(my_list)
#a
print('a) length of list is',len(my_list))
#b
print('b) element at index 0 is',my_list[0])                   
#c
new=[0]
print('c) the new list by adding 0 is',my_list+new)
#d
my_list.append(12)
print('d) appending the number 12 list becomes',my_list)
#e
print('e) at index -1 position the element is',my_list[-1])
#f
my_list.pop(0)
print('f) after removing first element from list, the list is', my_list)
#g
my_list.reverse()
print('the reversed list is', my_list)
#h
my_list.sort()
print('the sorted list is',my_list)

[10, 8, 6, 4, 2]
a) length of list is 5
b) element at index 0 is 10
c) the new list by adding 0 is [10, 8, 6, 4, 2, 0]
d) appending the number 12 list becomes [10, 8, 6, 4, 2, 12]
e) at index -1 position the element is 12
f) after removing first element from list, the list is [8, 6, 4, 2, 12]
the reversed list is [12, 2, 4, 6, 8]
the sorted list is [2, 4, 6, 8, 12]

Q.8

In [8]:
capital={'India':'New Delhi','USA':'Washington DC','France':'Paris','Sri Lanka':'Colmbo'}
print(type(capital))

<class 'dict'>

In [9]:
print(capital['India'])

New Delhi

In [10]:
print(capital['France'])

Paris

In [11]:
print(capital)

{'India': 'New Delhi', 'USA': 'Washington DC', 'France': 'Paris', 'Sri Lanka': 'Colmbo'}

In [12]:
print(capital.keys())

dict_keys(['India', 'USA', 'France', 'Sri Lanka'])

In [13]:
print(capital.values())

dict_values(['New Delhi', 'Washington DC', 'Paris', 'Colmbo'])

In [14]:
#obviously give error as UK is not a key
print(capital['UK'])

KeyError: 'UK'

In [15]:
#setting capital of UK
capital['UK']='London'

In [16]:
print(capital)

{'India': 'New Delhi', 'USA': 'Washington DC', 'France': 'Paris', 'Sri Lanka': 'Colmbo', 'UK': 'London'}

In [17]:
#now it is fine
print(capital['UK'])

London

In [18]:
len(capital) #giving the length of the dictionary

5

Q.9

In [19]:
my_list=[1,1,4,7,8,4,5,6,7] #list can have same file multiple time
my_set= set(my_list) #set contains one element one time
print('list is',my_list)
print('but set is', my_set)

list is [1, 1, 4, 7, 8, 4, 5, 6, 7]
but set is {1, 4, 5, 6, 7, 8}

In [20]:
my_set[0] #set object is not subscriptable but list is

TypeError: 'set' object is not subscriptable

In [21]:
set1={4, 7, 'DIAT',-5.38, 'Math'} #list containg many types of data
print(set1)

{4, 7, 'DIAT', 'Math', -5.38}

In [22]:
len(set1)

5

In [23]:
#set comprehension
new_set={x*x for x in range (-7,8) if x%2==0} #giving even elements square
print(new_set)

{16, 0, 36, 4}

In [24]:
# making set from string
set2=set('python programming')
print(set2)

{'o', ' ', 'n', 'g', 'p', 'a', 'm', 't', 'h', 'r', 'y', 'i'}

Q.10

In [25]:
# making tuples by different way
tuple1= tuple() # empty tuple
tuple2=() # it is also empty tuple
tuple3=(1,3,4) 
tuple4=(1,'a',-2,-4.8) #tuple containing many types of data
tuple5=2,5,-3,5.45,'b' # by this way we can also make tuple     ## special
tuple6=tuple(['my','name']) #from a list to tuple
tuple7=tuple({3,6,5}) #from a set to tuple
tuple8=tuple(capital) #from a dictionary to tuple  see the dictionary capital in Q.8 solution
tuple9= tuple('DIAT') # using a string making tuple

In [26]:
print('tuple1 is', tuple1)
print('tuple2 is', tuple2)
print('tuple3 is', tuple3)
print('tuple4 is', tuple4)
print('tuple5 is', tuple5)
print('tuple6 is', tuple6)
print('tuple7 is', tuple7)
print('tuple8 is', tuple8)
print('tuple9 is', tuple9)

tuple1 is ()
tuple2 is ()
tuple3 is (1, 3, 4)
tuple4 is (1, 'a', -2, -4.8)
tuple5 is (2, 5, -3, 5.45, 'b')
tuple6 is ('my', 'name')
tuple7 is (3, 5, 6)
tuple8 is ('India', 'USA', 'France', 'Sri Lanka', 'UK')
tuple9 is ('D', 'I', 'A', 'T')

In [27]:
print('length of tuple1 is', len(tuple1))
print('length of tuple3 is', len(tuple3))
print('length of tuple8 is', len(tuple8))
print('length of tuple9 is', len(tuple9))

length of tuple1 is 0
length of tuple3 is 3
length of tuple8 is 5
length of tuple9 is 4

In [28]:
print(tuple9[0]) # tuple object is subscriptable
print(tuple9[-1])

D
T

In [29]:
print(tuple3,tuple4)
print('by adding above two tuple', tuple3+ tuple4) #addition of two tuple
print('It containg 1 two times which is not like set')

(1, 3, 4) (1, 'a', -2, -4.8)
by adding above two tuple (1, 3, 4, 1, 'a', -2, -4.8)
It containg 1 two times which is not like set

In [30]:
# multiplication and slicing of tuple
new_tuple= tuple5*3
print('the new tuple is', new_tuple)
print(new_tuple[2:6]) # slicing

the new tuple is (2, 5, -3, 5.45, 'b', 2, 5, -3, 5.45, 'b', 2, 5, -3, 5.45, 'b')
(-3, 5.45, 'b', 2)

In [31]:
# unpacking tuples         ## Basic
x,y,z= ('my','name',1)
print('x=',x)
print('y=',y)
print('z=',z)
print(type(x),type(y), type(z))

x= my
y= name
z= 1
<class 'str'> <class 'str'> <class 'int'>

In [32]:
# unpacking tuples                            ## Advance
*x,y,z=(10,'orange','34',17,'apple')
print('x=',x)
print('y=',y)
print('z=',z)
print(type(x),type(y), type(z))

x= [10, 'orange', '34']
y= 17
z= apple
<class 'list'> <class 'int'> <class 'str'>

In [33]:
x,*y,z=(10,'orange','34',17,'apple')
print('x=',x)
print('y=',y)
print('z=',z)
print(type(x),type(y), type(z))

x= 10
y= ['orange', '34', 17]
z= apple
<class 'int'> <class 'list'> <class 'str'>

In [34]:
x,y,*z=(10,'orange','34',17,'apple')
print('x=',x)
print('y=',y)
print('z=',z)
print(type(x),type(y), type(z))

x= 10
y= orange
z= ['34', 17, 'apple']
<class 'int'> <class 'str'> <class 'list'>

In [35]:
*x,y,*z=(10,'orange','34',17,'apple')        ## multiple starred expressions not allowed
print('x=',x)
print('y=',y)
print('z=',z)
print(type(x),type(y), type(z))

SyntaxError: two starred expressions in assignment (<ipython-input-35-08fed4f96eb0>, line 1)

Q.11

In [36]:
a=list(map(float,input('give space separated values: ').split()))
a.sort()
if len(a)%2==0:
    median=(a[len(a)//2-1]+a[(len(a)//2)])/2
else:
    median= a[len(a)//2]
print('values are in sorted order is ', end=' ')
for i in a:
    print(i, end='  ')
print('\n')
print(median)

give space separated values: 25 2.25 3.65 23.5 85
values are in sorted order is  2.25  3.65  23.5  25.0  85.0

23.5

Q.12

In [37]:
def counter(my_list):
    occ={}
    for item in my_list:
        occ[item]=my_list.count(item)
    return occ
my_list=list(map(float,input('give space separated values: ').split()))
my_list.sort()
counts=counter(my_list)
print('After counting each element from the given list we have: ',counts)
max_occ= max(counts.values())
print('The modes are: ')
for item in counts:
    if (counts[item]== max_occ):
        print(item)

give space separated values: 2 3 6 5 4 6 4
After counting each element from the given list we have:  {2.0: 1, 3.0: 1, 4.0: 2, 5.0: 1, 6.0: 2}
The modes are:
4.0
6.0

Q.13

In [38]:
my_list=list(map(float,input('give space separated values: ').split()))
mean= sum(my_list)/len(my_list)
print(mean)

give space separated values: 5 6 3 4 8 6
5.333333333333333

Q.14

In [39]:
old_list=[1,'a',3]
another_list=[4,5]
print(old_list)
old_list.append(another_list)
print('after appending the list becomes',old_list)

[1, 'a', 3]
after appending the list becomes [1, 'a', 3, [4, 5]]

Q.15

In [40]:
print('old list is',old_list)
sliced_list=old_list[1:3]
sliced_list

old list is [1, 'a', 3, [4, 5]]

['a', 3]

Q.16

In [41]:
my_list=[4,5,7,1,2,4,5,3]
print('maximum of this list is',max(my_list))
print('min of this list is', min(my_list))

maximum of this list is 7
min of this list is 1

Q.17

In [1]:
your_list=list(map(int,input('Enter space separated integer: ').split()))
print('your list is',your_list)
f=int(input('Enter what you want to search: '))
if f in your_list:
    print(f,'is in your list')
    print(f,'occur in your list',your_list.count(f),'times')
    print('first occurence of',f,'at index no.',your_list.index(f))

Enter space separated integer: 25 23 26 24 84
your list is [25, 23, 26, 24, 84]
Enter what you want to search: 24
24 is in your list
24 occur in your list 1 times
first occurence of 24 at index no. 3

Q.18

In [2]:
## 2D list
arr=[[0]*2]*3
print(arr)

[[0, 0], [0, 0], [0, 0]]

Q.19

In [3]:
a=[[1,2],[5,6],[7,8]]
for i in range(len(a)):
    for j in range(2):      #one way to iterate
        print(a[i][j])

1
2
5
6
7
8

In [4]:
for x,y in a:
    print(x)      # another way to iterate
    print(y)

1
2
5
6
7
8

Q.20

In [5]:
# spliting of list
your_list=list(map(int,input('Enter space separated integer: ').split()))
i=int(input('Enter from which index you want to split: '))
c=your_list[:i]
d=your_list[i:]
print('your list is splitted into parts ',c,'and',d)

Enter space separated integer: 2 3 4 5 7 8
Enter from which index you want to split: 3
your list is splitted into parts  [2, 3, 4] and [5, 7, 8]

In [6]:
# joining of two list
first_list=list(map(int,input('Enter space separated integer: ').split()))
second_list=list(map(int,input('Enter space separated integer: ').split()))
for element in second_list:
    first_list.append(element)
print(first_list)

Enter space separated integer: 2 3 5
Enter space separated integer: 1 2 4
[2, 3, 5, 1, 2, 4]